<!-- Desktop browsers (including 16x6, 32x32 & 48x48 PNGs)  -->
<link rel="shortcut icon" href="{{ site.url }}/{{ site.baseurl }}favicon.ico">

<!-- Modern browsers & Devices -->
<link rel="icon" type="image/png" href="{{ site.url }}/{{ site.baseurl }}favicon-16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{ site.url }}/{{ site.baseurl }}favicon-32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.url }}/{{ site.baseurl }}favicon-48.png" sizes="48x48">
<link rel="icon" type="image/png" href="{{ site.url }}/{{ site.baseurl }}favicon-64.png" sizes="64x64">
<link rel="icon" type="image/png" href="{{ site.url }}/{{ site.baseurl }}favicon-96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.url }}/{{ site.baseurl }}favicon-128.png" sizes="128x128">
<link rel="icon" type="image/png" href="{{ site.url }}/{{ site.baseurl }}favicon-196.png" sizes="196x196">

<!-- iOS & other mobile devices -->
<link rel="apple-touch-icon" href="{{ site.url }}/{{ site.baseurl }}favicon-180.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/{{ site.baseurl }}favicon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/{{ site.baseurl }}favicon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/{{ site.baseurl }}favicon-152.png">
<link rel="apple-touch-icon" sizes="167x167" href="{{ site.url }}/{{ site.baseurl }}favicon-167.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/{{ site.baseurl }}favicon-180.png">
