---
layout: default
title: Category Archive
---

<main id="main" class="site-main">
    <div class="post-feed inner">
        <header class="page-header">
            <h1 class="page-title">Archive of posts from {{ page.date | date: "%B %Y" }}</h1>
            <p class="page-description">A collection of {{ page.total_posts }} {% if page.total_posts == 1 %}post{% else %}posts{% endif %}</p>
        </header>
        <div class="post-feed inner-wide">
            {% for post in page.posts %}{% include postbox.html %}{% endfor %}
        </div>
    </div><!-- .post-feed -->
</main><!-- .site-main -->